html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    
    font-family: 'Quicksand-Regular',Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
   
}

.contanier{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    
}