@media (max-width: 1250px) {
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer-col__adress{
        min-width: 100%;
        margin-bottom: 30px;
        
    }
    .footer-col__link  {
        margin-right: 15px;
    }
    .footer-col__link-adress::before{
        top: 0;
    }
}

@media (max-width: 950px){
    .footer-col__menu{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .footer__content{
        padding: 70px;
    }
    
    .footer-col__title{
        margin-bottom: 20px;
    }
}


@media (max-width: 560px){
    .footer__content{
        padding: 40px;
    }
}