@media (max-width: 1250px) {
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer-col__adress{
        min-width: 100%;
        margin-bottom: 30px;
        
    }
    .footer-col__link  {
        margin-right: 15px;
    }
    .footer-col__link-adress::before{
        top: 0;
    }
    .footer-col__title{
        margin-bottom: 20px;
    }
}

@media (max-width: 950px){
    .footer-col__menu{
        margin-bottom: 30px;
    }
    .footer__content{
        padding: 70px;
    }
    .footer-col--big{
        min-width: 100%;
    }
    .footer .footer__inner{
        justify-content: flex-start;
    }
    .footer-col__menu{
        & + & {
            margin-left: 60px;
        }
    }
}

@media (max-width: 560px){
    .footer__content{
        padding: 40px;
    }
    .footer__copy-text{
        line-height: 25px;
    }

}

@media (max-width: 420px){
    .footer-col{
        min-width: 100%;
    }

    .footer-col__menu{
        & + & {
            margin-left: 0;
        }
    }
    .footer-col__social-link{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .footer-col__social-link li {
        display: inline-block;
        margin-bottom: 10px;
    }
}