// ------------------fonts ---------------------\\

$bold: 'Quicksand-Bold',Arial, Helvetica, sans-serif;
$medium: 'Quicksand-Medium',Arial, Helvetica, sans-serif;
$regular: 'Quicksand-Regular',Arial, Helvetica, sans-serif;


// ----------------------color--------------------\\

$bg-btn : #0674ec;